<?xml version="1.0" encoding="UTF-8"?>

<!--This launch file has to proceed following tasks:
    - open gazebo with specified world
    - spaw my_robot in gazebo
    - enable controllers of my_robot
    - open rviz visualization
    - launc
    h velocity converter  
    -->

<launch>
    <!-- Open Gazebo with designed world-->
    <!-- <include file="$(find my_robot_description)/launch/gazebo.launch"/> -->
    <!-- Spawn robot -->
    <include file="$(find my_robot_description)/launch/spawn_my_robot.launch"/>
    <!-- Enable controllers -->
    <include file="$(find my_robot_description)/launch/my_robot_control_wheels.launch"/>
    <!-- Visualize in Rviz   -->
    <include file="$(find my_robot_description)/launch/visualize_in_rviz.launch"/>

</launch>


