<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!--Loading the yaml file and launching the controllers 
with the robot state publisher for the TF publication-->

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find my_robot_description)/config/my_robot_control_wheels.yaml" command="load"/>

  <!-- load the controllers -->
  <!--Here you state that all controllers defined in the yaml are active.-->

  <node pkg="controller_manager" name="controller_spawner" 
        type="spawner" respawn="false" output="screen" ns="my_robot"
        args="left_front_wheel_velocity_controller
              left_rear_wheel_velocity_controller
              right_front_wheel_velocity_controller
              right_rear_wheel_velocity_controller
              joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!--node pkg="robot_state_publisher" name="robot_state_publisher" 
  type="robot_state_publisher" respawn="false" output="screen"/-->
    <!--remap from="/joint_states" to="/my_robot/joint_states" /-->

</launch>